[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/damindu
Type=simple
ExecStart=/usr/sbin/kanata
Restart=no

[Install]
WantedBy=default.target
